

.side-wrapper+.side-wrapper {
    margin-top: 20px;
}

.side-title {
    color:rgb(245, 246, 252);
    margin-bottom: 14px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    white-space: nowrap;

    a {
        text-decoration: none;
        color: #f9fafb;;
        display: flex;
        align-items: center;
        font-weight: 400;
        padding: 10px;
        font-size: 14px;
        border-radius: 6px;
        transition: 0.3s;

        &:hover {
            background-color: rgba(12, 15, 24, 0.3);
        }
    }

    svg {
        width: 16px;
        margin-right: 8px;
    }
}
